<h1>Edit User</h1>
<form>
  <div class="form-group" ng-if="error">
    <span class="label label-danger" ng-bind="error.description || error.message || error.error"></span>
  </div>
  <div class="form-group" ng-repeat="(key, item) in form track by $index">
    <label for="{{'input' + $index}}" ng-bind="key"></label>
    <input type="text" ng-model="form[key]" class="form-control" id="{{'input' + $index}}" ng-disabled="key !== 'email'">
  </div>

  <div class="pull-right">
    <button type="submit" class="btn btn-success" ng-click="update(form)">Update</button>
    <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>