<h1>Firebase</h1>
<b><a href="https://console.firebase.google.com/project/testfirebaseproject-623c9/database/data">{{account}}</a></b>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="item in baseData">
    <span>{{item.key + ':' + item.value}}</span>
  </li>
</ul>