<div class="jumbotron">
  <div class="container text-left">
    <form>
      <div class="form-group" ng-if="form.errorMessage">
        <span class="label label-danger" ng-bind="form.errorMessage"></span>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" ng-model="form.email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" ng-model="form.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default" ng-click="signin(form)">Sign In</button>
      <button type="submit" class="btn btn-default" ng-click="signup(form)">Sign Up</button>
      <button class="btn btn-success" ng-click="auth.signin()">Sign In with Lock widget</button>
    </form>
  </div>
</div>

