<div class="jumbotron">
  <p class="lead">
    <img class="profile-image img-circle" style="width: 40%;" ng-src="{{user.picture || 'images/photo.jpg'}}" alt="Auth0">
    <br>
    <span ng-bind="user.name"></span>
  </p>
  <p><a class="btn btn-lg btn-danger" ng-href="#/logout">Sign out</a></p>
</div>
