<h1>Users</h1>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="user in users">
    <img class="profile-image img-circle" style="width: 10%" ng-src="{{user.picture}}"/>
    <span>{{::user.name || '(empty)'}}</span>
    <button class="pull-right btn" ng-click="showUser(user)"><span class="glyphicon glyphicon-search"></span></button>
  </li>
</ul>