<div class="jumbotron relative">
  <img class="profile-image img-circle user-image"  ng-src="{{user.picture || 'images/photo.jpg'}}" alt="Auth0">
  <div class="container text-left ">
    
    <div class="row" ng-repeat="(key, item) in userFields track by $index" ng-if="item">
      <div class="col-md-1 col-md-offset-1">
      </div>
      <div class="col-md-2">
        <strong ng-bind="key + ':'"></strong>
      </div>
      <div class="col-md-4">
        <span ng-bind="item"></span>
      </div>
      
    </div>
    <div class="row" style="margin-top: 3em;">
      <button class="btn btn-danger" ng-click="deleteUser()">Delete</button>
      <button class="btn btn-success" ng-click="editUser()">Edit</button>
    </div>

  </div>
</div>